@import "tailwindcss";
@import "flowbite";

* {
<<<<<<< HEAD
  /* margin: 0; */
  /* padding: 0; */
=======
>>>>>>> 571e51addabae4f04f1dee1cbd457253451c0f31
  font-family: sans-serif;
  box-sizing: border-box;
}
html {
  scroll-behavior: none;
}
.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
h1,
h2,
h3,
h4,
h5,
h6,
button {
  cursor: pointer;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
/* h6 {
  color: #ff6600;
} */
