@import 'tailwindcss';

* {
	font-family: sans-serif;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
.container {
	max-width: 1240px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
button {
	cursor: pointer;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

input[type="range"]::-webkit-slider-thumb {
  pointer-events: auto;
  appearance: none;
  height: 16px;
  width: 16px;
  background: #f97316;
  border-radius: 9999px;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  pointer-events: auto;
  height: 16px;
  width: 16px;
  background: #f97316;
  border-radius: 9999px;
  cursor: pointer;
}
